<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tree</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
    <style>
        body {
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            font-weight: 300;
            line-height: 1em;
        }

        .container {
            width: 300px;
            margin: 0 auto;
        }

        .tree-menu .label-wrapper {
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid #ccc;
        }
        .tree-menu .has-children {
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="container">
    <div id="app">
        <tree-menu
                v-for="Key in tree"
                :nodes="Key.Nodes"
                :key="Key.name"
                :depth="0"
                :label="Key.name"
        ></tree-menu>
    </div>
</div>

<script src="../VueCompare.js"></script>
<script type="text/x-template" id="tree-menu">
    <div class="tree-menu">
        <div class="label-wrapper" @click="toggleChildren">
            <div :style="indent" :class="labelClasses">
                <i v-if="nodes" class="fa" :class="iconClasses"></i>
                {{ label }}
            </div>
        </div>
        <tree-menu
                v-if="showChildren"
                v-for="node in nodes"
                :nodes="node.Nodes"
                :key="node.name"
                :label="node.name"
                :depth="depth + 1"
        > <!--showChildren 控制的只是当前组件的显示与隐藏 v-for绑定的下一级的nodes showChildren只有对有nodes对象有作用 最外层的root控制所有数据的显示隐藏-->
        </tree-menu>
    </div>
</script>
<script type="module">
    import Data from './apiTree.js'
    let tree = Data.data.Model.Nodes
    Vue.component('tree-menu', {
        template: '#tree-menu',
        props: [ 'nodes', 'label', 'depth' ],
        data() {
            return {
                showChildren: false
            }
        },
        computed: {
            iconClasses() {
                return {
                    'fa-plus-square-o': !this.showChildren,
                    'fa-minus-square-o': this.showChildren
                }
            },
            labelClasses() {
                // this.nodes: undefined => false
                console.log(this.nodes)
                return { 'has-children': this.nodes }
            },
            indent() {
                return { transform: `translate(${this.depth * 50}px)` }
            }
        },
        methods: {
            toggleChildren() {
                this.showChildren = !this.showChildren;
            }
        },
        mounted (){
            console.log(1)
        }
    });

    new Vue({
        el: '#app',
        data: {
            tree
        }
    })
</script>
</body>
</html>